@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Outfit:wght@400;700&display=swap');

h1,h2,nav a, footer {
    font-family: 'Fredoka One';
}

.clear {
    clear: both;
}

*{
    font-family: 'Outfit';
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: inline
}

html{
    background: #EDC3EE;
    scroll-behavior: smooth;
}

h1{
    color: #26215A;
    font-size: 87px;
    width:498px;
    height: 274px;
    margin-left: 208px;
    margin-top: 130px;
}

header p{
    color: #26215A;
    font-size : 25px;
    width: 450px;
    height: 61px;
    margin-left: 213px;
    margin-top: -50px;
}

header img{
    margin-top: -445px;
    margin-left: 835px;
    transform : rotate (4deg);
}

.button{
    margin-top: 35px;
    margin-left: 213px;
    background-color: #8F8FDB;
    border : none;
    color : white;
    padding :16px 60px;
    border-radius : 40px;
    font-size: 20px;
    cursor: pointer;
}

nav{
    background-color: #623181;
    color : white;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    padding : 13px;
    position: sticky;
    top: 0;
}

nav li {
    flex-grow : 1;
    list-style-type: none;
}

nav ul{
    display : flex;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

#CAT_FOOD {
    margin-top: 100px;
    margin-left: 145px;
}

.makanan h2{
    font-size: 55px;
    width: 532px;
    color: #623181;
    text-align: center;
}

.makanan p{
    margin-top: 16px;
    margin-left: 38px;
    font-size: 20px;
    width: 462px;
    text-align: center;
}

#CAT_FOOD .text {
    float: right;
    width: 75%
}

.food {
    margin-left: 115px;
}

#TREATMENTS {
    margin-top: 120px;
    margin-left: 145px;
}

#TREATMENTS figure {
    float: right;
    width: 68%
}

.treatment h2{
    font-size: 55px;
    width: 532px;
    color: #623181;
    text-align: center;
}

.treatment p{
    margin-top: 16px;
    margin-left: 2px;
    font-size: 20px;
    width: 462px;
    text-align: center;
    color: black;
    font-weight: 400;
}

#TREATMENTS .button{
   margin-left: 67px;
}

#TOYS .text {
    float: right;
    width: 68%
}

#TOYS {
    margin-top: 120px
}

#TOYS img {
    margin-top: 5px;
    margin-left: 105px;
}

#TOYS h2, p {
    margin-left: 40px;
}

#TOYS p {
    font-weight: 400;
}

#TOYS form {
    margin-top: -100px;
    margin-left: 540px;
}

footer {
    margin-top: 50px;
    background-color: #8F8FDB;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}